body {
  background: black;


}

html{
  height: 100vh;

  position: relative;
}

a:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

.menu__item {
  position: absolute;
}

.menu__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.573vw;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
  text-decoration: none;
}

.menu__item:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.menu__item:hover img {
}
.menu__item img {
  animation: up-down 3s ease-in-out infinite;
}
.menu__item:nth-child(2) a {
  gap: 0vw;
}

.menu__item:nth-child(3) img {
  animation: none;
}

.menu__item span {
  color: black;
  background: white;
  padding-left: 0.342vw;
  padding-right: 0.342vw;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0.581vw;
  font-size: 1.282vw;
  text-decoration: none;
}

.menu__item:nth-child(1) {
  left: 11.8%;
  top: 15%;
}

.menu__item:nth-child(1) img {
  width: 6.94vw;
  object-fit: scale-down;
}

.menu__item:nth-child(2) {
  left: 31.8%;
  top: 2.9%;
}

.menu__item:nth-child(2) img {
  width: 8.274vw;
  animation-delay: 0.3s;

  object-fit: scale-down;
}

.menu__item:nth-child(3) {
  left: 8.9%;
  bottom: 13%;
  animation-delay: 0.3s;
}

.menu__item:nth-child(3) svg {
  width: 14.154vw;
  object-fit: scale-down;
}

.menu__item:nth-child(4) .puzzle-inner {
  width: 8.444vw;
  object-fit: scale-down;
}
.menu__item:nth-child(5) a {
  animation: rotateCube 4s infinite;
}

.menu__item:nth-child(4) {
  left: 30.9%;
  bottom: 20.2%;
}

.menu__item:nth-child(5) img {
  width: 9.983vw;
  object-fit: scale-down;
  animation-delay: 0.3s;
}

.menu__item:nth-child(5) {
  left: 44.4%;
  bottom: 46.7%;
}

.text-item {
  background: white;
  width: fit-content;
  border-radius: 1.11vw;
  font-size: 1.283vw;
  padding: 1.299vw 1vw;
}

.text-item:nth-child(2) {
  border-radius: 3.35vw;
  padding-left: 2.5vw;
}
.text-item:nth-child(5),
.text-item:nth-child(3) {
  border-radius: 0px;
  border-top-left-radius: 3.442vw;
  border-bottom-right-radius: 3.442vw;
}

.text {
  display: flex;
  flex-direction: column;

  right: 1.932%;
  position: absolute;
  gap: 1.197vw;
  margin-left: auto;
  margin-top:7vw;
  width: 36.359vw;

}
.text-item:nth-child(5),
.text-item:nth-child(2) {
  align-self: flex-end;
}
.text-item:nth-child(2) {
  padding-right: 6vw;
}
.text-item:nth-child(5),
.text-item:nth-child(3) {
  align-self: center;
  padding: 1.6vw 2vw;
}

.text-item:nth-child(4) {
  align-self: flex-start;
}

.text a {
  background: #8000ff;
  color: white;
  text-decoration: none;
  border-radius: 0.61vw;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1vw); /* Move up by 20px */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

.puzzle {
  display: flex;
  align-items: center;
  flex-grow: 0.5;
  width: 50%;
  align-items: stretch;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
}
.puzzle-item {
  transition: 0.2s;
  width: 25%;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
  transition: transform 0.3s ease-in-out;
  position: relative;
  border: 1px solid white;
  box-sizing: border-box;
  outline: none;
  transition: order 0.3s ease-in-out; /* Добавляем переход */
  animation: none !important;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.puzzle-item:hover {
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}

.selected {
  border: 1px solid black;

  transition: 0.3s ease-in-out;
}
.puzzle-inner {
  display: flex;
  flex-wrap: wrap;
  width: 67%;
  position: relative;
  background: black;
}

.puzzle-text {
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.raznoobrazie {
  width: 50%;
}

.menu-btn {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 50px;
  background-color: white;
  height: 50px;
  background: none;
  border: none;
  padding: 10px;
  background: white;
  border-radius: 100%;
}

.menu-btn img {
  border-radius: 5px;
  width: 100%;
}

.text.visible {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
  padding-left: 1vw;
  width: 100%;
  box-sizing: border-box;
  padding-right: 1vw;
}

@media (max-width: 800px) {
  .second-screen {
    flex-direction: column;
  }

  .puzzle {
    width: 100%;
  }

  .raznoobrazie {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .text {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: none;
  }

  .menu__item:nth-child(1) img {
    width: 18vw;
  }

  .menu__item:nth-child(2) a {
    gap: 10vw;
  }

  .menu__item:nth-child(2) {
    right: 10%;
    top: 5%;
  }

  .menu__item span {
    font-size: 18px;
    padding: 2px 5px;
  }

  .menu__item:nth-child(5) img {
    width: 30vw;
    object-fit: scale-down;
    animation-delay: 0.3s;
  }
  .menu__item:nth-child(4) .puzzle-inner {
    width: 25vw;
    object-fit: scale-down;
  }
  .menu__item:nth-child(3) svg {
    width: 45.3vw;
    object-fit: scale-down;
  }

  .menu__item:nth-child(5) {
    right: 14.4%;
    bottom: 36.7%;
    left: unset;
  }

  .menu__item:nth-child(4) {
    left: 40.9%;
    bottom: 20.2%;
  }

  .menu__item:nth-child(3) {
    left: 8.9%;
    bottom: 6%;
    animation-delay: 0.3s;
  }

  .menu__item {
    position: static;
  }

  .menu__item {
    justify-content: flex-end;
    align-self: center;
    width: 100%;
  }

  .menu__item img {
    width: 100% !important;
  }

  .menu {
    padding: 100px 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    max-width: 800px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-end;
    align-content: center;
  }

  .text {
    width: 100%;
    background: black;
    right: 0px;
    top: 0px;
    padding-top: 100px;
    height: 100vh;
    position: fixed;
  }

  .menu-btn {
    display: block;
  }

  .menu__item img{
    object-fit: cover !important;
    width: 100%;

  }

  #cube-container {
    margin-top: 40vw;
    height: 23vw;
    transform: scale(4) !important;
     margin-right: -40px;
  }

  .menu__item:nth-child(3) svg {
    width: 100%;
    object-fit: scale-down;

}

.menu__item .puzzle-item {
  width: 25% !important;
}

.menu__item:nth-child(4) .puzzle-inner {
  width: 100%;
  padding-bottom: 20px;

}

.menu__item:nth-child(5) img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}
}
