<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>О нас | Фестиваль соберись</title>
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/about.css" />
    <link
      href="https://fonts.cdnfonts.com/css/tt-firs-neue-trl"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../images/index/about.png" />
  
  </head>
  <body>
    <header class="header">
      <a href="../index.html">
        <img
          class="header__navigation"
          src="../images/about/about-nav.svg"
          alt=""
        />
      </a>
    </header>

    <section class="section">
      <img class="section__image" src="../images/about/image1.svg" alt="" />
      <object
        class="section__text"
        class="text"
        type="image/svg+xml"
        data="../images/about/text1.svg"
      ></object>
    </section>

    <section id="section2" class="section">
      <object
        class="section__text"
        class="text"
        type="image/svg+xml"
        data="../images/about/text2.svg"
      ></object>
      <img class="section__image" src="../images/about/image2.png" alt="" />
    </section>

    <section id="section3" class="section">
      <img class="section__image" src="../images/about/image3.svg" alt="" />
      <object
        class="section__text"
        class="text"
        type="image/svg+xml"
        data="../images/about/text3.svg"
      ></object>
    </section>

    <div id="footer-container"></div>
    <script src="../script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  </body>
</html>
