<script id="footer-template" type="text/x-handlebars-template">
  <style>
    .footer{
      background: white;
      position: fixed;
      bottom: 0px;
      width: 100%;
      font-size: 0.573vw;
      align-items: center;
      display: flex;
      gap: 0.604vw;
      padding:0.872vw 1.128vw ;
      box-sizing: border-box;
      z-index:40;
      cursor: default;
    }

    .footer .button{
      background: black;
      color: white;
      padding: 0.342vw 0.684vw;
      border-radius: 0.456vw;
    }

    .footer a{
      text-decoration: none;
      display: flex;
      white-space: nowrap;
      cursor: pointer;
    }

    
    .footer img{
      max-width: 1.436vw;
    }

    .footer span{
      margin-left: auto;
    }

    @media (max-width: 1700px) {
      .footer{
        font-size: 14px;
      }

      .footer img{
      max-width: unset;
      height: 28px;
    }
    }
    @media (max-width: 500px) {
      .footer{
        font-size: 15px;
      }
      .footer img{
        width: 30px;
        height: 30px;
    }
    .footer{
      justify-content: space-between;
    }

    .footer span{
      display: none;
    }
    }
</style>
  <footer class="footer">
      <a class="button">купить билет</a>
      <a class="button">support@soberis.ru</a>

      <a href="">
        <img src="/images/footer/youtube.png" alt="">
      </a>
      <a href="">
        <img src="/images/footer/twitter.png" alt="">
      </a>
      <a href="">
        <img src="/images/footer/telegram.png" alt="">
      </a>
      <a href="">
        <img src="/images/footer/facebook.png" alt="">
      </a>

      <span>2024</span>
  </footer>
</script>