<script id="footer-black-template" type="text/x-handlebars-template">
  <style>
    .footer{
      background: black;
      position: fixed;
      bottom: 0px;
      width: 100%;
      font-size: 0.573vw;
      align-items: center;
      display: flex;
      gap: 0.604vw;
      padding:0.872vw 1.128vw ;
      box-sizing: border-box;
      cursor: default;
    }



    .footer .button{
      background: white;
      color: black;
      padding: 0.342vw 0.684vw;
      border-radius: 0.456vw;
    }

    .footer a{
      text-decoration: none;
      display: flex;
      cursor: pointer;
    }

    .footer img{
      max-width: 1.436vw;
    }

    .footer span{
      color: white;
      margin-left: auto;
    }

    @media (max-width: 1700px) {
      .footer{
        font-size: 14px;
      }

      .footer img{
      max-width: unset;
      height: 28px;
    }
    }
    @media (max-width: 500px) {
      .footer{
        font-size: 15px;
      }
      .footer img{
        width: 30px;
        height: 30px;
    }
    .footer span{
      display: none;
    }
    }
  </style>
  <footer class="footer">
      <a class="button">купить билет</a>
      <a class="button">support@soberis.ru</a>

      <a href="">
        <img src="/images/shop/yt.png" alt="">
      </a>
      <a href="">
        <img src="/images/shop/twi.png" alt="">
      </a>
      <a href="">
        <img src="/images/shop/tg.png" alt="">
      </a>
      <a href="">
        <img src="/images/shop/fb.png" alt="">
      </a>

      <span>2024</span>
  </footer>
</script>