body{
  overflow: hidden;
}
.header{
  margin-left: 1.06vw;
  margin-top: 1.1vw;
}

.header__navigation {
  width: 9.846vw;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
}

.header__navigation:hover{
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.product{
  background: white;
  border-radius: 4.547vw;
  width: 35.043vw;
  height: 35.043vw;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 50%;
  transform: translate(0%,-50%);
  position: absolute;
  left: 4.615vw;
  z-index: 2;
}

.product img{
  width: 100%;
}

.bg{
  position: absolute;
  color:#2F2F2F;
  font-size: 9.142vw;
  text-transform: uppercase;
  font-weight: 700;
  right: -2vw;
  top: -3vw;
  z-index: 1;
  line-height: 1
}

.form {
  width: 41.026vw;
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  right: 7.043vw;
  bottom: 4.5vw;
  z-index: 23;
  align-items: center;
}

.form input{
  width: 100%;
  background: transparent;
  border-radius: 0.991vw;
  height: 3.487vw;
  border: 0.1vw solid white;
  padding: 0px;
  color: white;
  padding-left:1.607vw;
  font-family: 'TT Firs Neue Trl', sans-serif;
  font-size: 1.162vw;
}

.form label{
  margin-top: 0.923vw;
  margin-bottom: .3vw;
  font-size: 1.478vw;
  align-self: flex-start;
  padding-left: 0px;
  margin-left: 0px;
}

.form input::placeholder{
  font-size: 1.162vw;
  padding: 0;
  margin: 0;
  padding-left: 1vw;
 
}

.form .button{
  border: none;
  color: white;
  padding: 0.6vw 3.111vw;
  background: #8000FF;
  margin-top: 1.846vw;
  border-radius: 0.718vw;
  font-size: 1.06vw;
}

.message{
  position: absolute;
  right: 20vw;
  bottom: 20vw;
  color: white;
  font-size: 2vw;
  z-index: 22;
  padding: 1vw;
  border-radius: 1vw;
  background: rgba(255, 255, 255, 0.3);
}

.hidden{
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.product__image{
  height: 100%;
  object-fit: scale-down;
}

@media (max-width: 1000px) {

  .header__navigation{
    width: 150px;
  }

  .product{
  width: 60vw;
  height: 60vw;
  top: 30%;
  }

  .form{
  bottom: 100px;
    width: 90%;
    left: 50%;
    transform: translate(-50%,0%);
    max-width: 500px;
    box-sizing: border-box;
    right: 0px;
  }

  .form input{
    height: 30px;
    font-size: 14px;
  }

  .form input::placeholder,
  .form .button,
  .form label{
    font-size: 14px;
  }

  .bg{
    right: 0px
  }
}