body{
  font-family: 'TT Firs Neue Trl', sans-serif;
  padding: 0;
  margin: 0;
  background: black;
  overflow-x: hidden;
}
html{
  cursor: url("../images/index/icons8-circle-30.png") 15 15,none;
}
a{
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;

}
button{
  font-family: 'TT Firs Neue Trl', sans-serif;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
}

button:hover{
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.header{
  margin-left: 1.06vw;
  margin-top: 1.1vw;
}

.header__navigation {
  width: 9.846vw;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
}


.header__navigation:hover{
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
