.posters {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.posters img {
  height: 70%;
  object-fit: contain;
  transition: 0.3s ease;
}

.posters .active {
  z-index: 20;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.posters :nth-child(1) {
  margin-right: -12%;
  opacity: 0.5;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
  height: 70%;
}

.posters :nth-child(3) {
  margin-left: -12%;
  opacity: 0.5;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
  height: 70%;
}

.posters .active {
  z-index: 20;
  opacity: 1;
  height: 100% !important;
}

.posters :nth-child(1):hover,
.posters :nth-child(3):hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.poster__list {
  position: absolute;
  right: -2vw;
  top: 50%;
  transform: translate(0%, -50%);
  height: 85vh;
  max-width: 35vw;
}

.poster__list img {
  width: 100%;
  height: 100%;
}

.poster__list .poster-btn {
  width: 94%;
  box-sizing: border-box;
  height: 10%;
  position: absolute;
  left: -0.5vw;
  box-sizing: border-box;
  cursor: url("../images/index/icons8-circle-31.png") 15 15,none;
}

.poster__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.posters {
  opacity: 0;
  visibility: hidden;
  top: 50%;
  transform: translate(0%, -50%);
}

.posters.visible {
  opacity: 1;
  visibility: visible;
}
.poster-btn.active,
.poster-btn:hover {
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.poster-btn:nth-child(2) {
  top: -0.7vh;
}

.poster-btn:nth-child(3) {
  top: 8.9vh;
}

.poster-btn:nth-child(4) {
  top: 18.5vh;
}

.poster-btn:nth-child(5) {
  top: 28.1vh;
}

.poster-btn:nth-child(6) {
  top: 37.7vh;
}

.poster-btn:nth-child(7) {
  top: 47.3vh;
}

.poster-btn:nth-child(8) {
  top: 56.9vh;
}

.poster-btn:nth-child(9) {
  top: 66.5vh;
}

.poster-btn:nth-child(10) {
  top: 76.1vh;
}

@media (max-width: 1700px) {
  .posters :nth-child(3),
  .posters :nth-child(1) {
    width: 20vw;
  }
  .posters .active {
    width: 30vw !important;
    height: unset !important;
  }
}

@media (max-width: 768px) {
  .posters {
    transform: none;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 500px;
  }

  .posters :nth-child(3),
  .posters :nth-child(1) {
    width: 30vw;
  }
  .posters .active {
    width: 60vw !important;
    height: unset !important;
  }

  .posters{
    height: fit-content;
    margin: 50px 0px;
  }

  .poster__list {
    position: static;
    width: 100%;
    padding-left: 4vw;

    max-width: 100%;
    height: fit-content;
    transform: none;
    margin-bottom: 50px;
  }

  .posters.visible {
    position: static;
    transform: none;
  }

  .header__navigation{
    width: 150px;
  }
  .poster__list,
  .posters{
    max-width: 100%;
    box-sizing: border-box;
    }
}
