.bg {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 4vw;
}
body{
  padding-bottom: 10vh;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 5vw;
  border-bottom: 0.137vw solid white;
  width: 69vw;
  margin: 0 auto;
  margin-top: -7vw;
  background: black;
  color: white;
}


.text h1 {
  font-size: 4.786vw;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

.text p {
  font-size: 1.47vw;
  max-width: 64.957vw;
  text-align: center;
  margin-top: 0vw;
  padding-top: 0px;
}
.footer{position: static !important;}

.map{
  display: flex;
  color: white;
  gap: 3vw;
  padding-top:0vh;
  padding-bottom:0vh;
}
.map img{
  object-fit: scale-down;
  width: 48.103vw;
}
.map h3{
  font-size: 2vw;
  text-transform: uppercase;
  font-weight:400;
  margin: 0px;
}
.map{
  max-width: 90vw;
  margin: 0 auto;
}
.map ul{
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
 list-style: none;
}

.map .list-decoration{
width: 2.051vw;
height: 2.051vw;
transform: rotate(45deg);
}

.map li:nth-child(1) .list-decoration{
  background: #FDB600;
}
.map li:nth-child(2) .list-decoration{
  background: #138B35;
}
.map li:nth-child(3) .list-decoration{
  background: #FC5812;
}
.map li:nth-child(4) .list-decoration{
  background: #8000FF;
}

.map span{
  font-size: 1.46vw;
}
.map li{
  display: flex;
  gap: 2vw;
}
.map-text{
  color: white;
  font-size: 1.47vw;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.fair img{
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  object-fit: scale-down;
}
.fair{
  box-sizing: border-box;

  position: relative;
  height: 100vh;
}
.shop-link{
  width: 15.726vw;
  display: flex;
  position: absolute;
  right: 10%;
  bottom: 1%;
  
}

.shop-link:hover{
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
.section img{
  align-items: center;
  justify-content: center;
  object-fit: scale-down !important;
  margin: 0 auto;
  display: flex;
}
.section{
 
}

.section-bg {
  height: 96% !important;
  object-fit: scale-down !important;
  width: 100%;
}
.section ,
.fp-tableCell{
  height: 100vh !important;
}

.shop-link2 img{
  width: 100%;
}
.shop-link2{
  width: 10.726vw;
  display: flex;
  position: absolute;
  right: 36%;
  bottom: 15%;
}
.shop-link2:hover{
  opacity: 0.6;
  transition: 0.3s ease-in-out
  ;
}
#fp-nav {
  padding: 20px !important;
  cursor: default !important;
}

.fp-nav{
  cursor: pointer;
}
.fp-tableCell img{

  object-fit: scale-down !important;
}
.fp-tableCell{
  position: relative !important;
}
.swiper {
  width: 90%;
  left: 0px !important;
  height: 30vh;
  margin-left: 0px !important;
  margin-top: 5vh;

  position: absolute;
  bottom: 40%;
    z-index: 40 !important;
}
.swiper-wrapper{
  
}
.swiper-slide img{
  width: 100%;
  object-fit: scale-down;
}
.swiper-slide{
  max-width: 20.376vw;
}
.header{
  position: absolute;
  z-index: 50;
}
.cafe{
  height: 100vh;
}
@media (max-width: 1350px) {
  .fair{
    height: fit-content;
  }

}

@media (max-width: 1000px) {

  .header__navigation{
    width: 200px;
  }

 
}

@media (max-width: 900px) {
  .cafe{
    height: fit-content;
    position: relative;
  }

  .shop-link2{
    bottom: 13%;
    right: 27%;
  }
}
@media  (max-width: 1000px) {
  .text p{
    font-size: 15px;
    text-align: justify;
    max-width: 100%;
  }
  .text{
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;

  }
  .map{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    gap: 20px;
  }

  .map img{
    width: 100%;
    max-width: 50vh;
  }

  .map h3{
    font-size: 15px;
  }

  .map span{
    font-size: 14px;
  }

  .map-text{
    font-size: 14px;
  }
 
  .fair{
    margin-left: -40%;
  }

  .swiper {

margin-top: calc(3vw + 40px);
  }

  .swiper-slide{
    max-width: 34vw;
  }
}
